#login_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login_item, .create_item {
    margin-bottom: 10px;
}

#book_icon {
    width: 150px;
    height: auto;
}