<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="content-wrapper">
        <div class="form-wrapper">
            <div class="heading">Adding new book:</div>
            <form class="form add-form" method="post" th:action="@{/books/save}" th:object="${book}">
                <fieldset>
                    <label for="author">Author: </label>
                    <input id="author" type="text" th:field="*{author}">
                </fieldset>
                <fieldset>
                    <label for="title">Book title: </label>
                    <input id="title" type="text" th:field="*{title}">
                </fieldset>
                <fieldset>
                    <label for="size">Size(pages): </label>
                    <input id="size" type="text" th:field="*{size}">
                </fieldset>
                <p th:if="${#fields.hasErrors()}">field value must be digit and less than 4 signs</p>
                <input class="btn" type="submit" value="Add">
            </form>

            <div class="heading">Removing a book:</div>
            <form class="form remove-form" method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
                <fieldset>
                    <label for="book-id">Book ID: </label>
                    <input id="book-id" type="text" th:field="*{id}">
                </fieldset>
                <p th:if="${#fields.hasErrors()}">Wrong id or not found</p>
                <input class="btn" type="submit" value="Remove">
            </form>

            <div class="heading">Advanced book removing:</div>
            <form class="form remove-regex-form" method="post" th:action="@{/books/removeByRegex}">
                <fieldset>
                    <label for="book-author">Author contains: </label>
                    <input id="book-author" type="text" th:name="bookAuthor">
                </fieldset>
                <fieldset>
                    <label for="book-title">Title contains: </label>
                    <input id="book-title" type="text" th:name="bookTitle">
                </fieldset>
                <fieldset>
                    <label for="book-size">Size(pages) contains: </label>
                    <input id="book-size" type="text" th:name="bookSize">
                </fieldset>
                <input class="btn" type="submit" value="Remove">
            </form>

            <div class="heading">Upload external resources:</div>
            <form class="form upload-file-form" method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
                <fieldset>
                    <label for="file-uploader">Choose a file: </label>
                    <input id="file-uploader" type="file" name="file">
                </fieldset>
                <input class="btn" type="submit" value="Upload">
            </form>
        </div>
        <table class="book-table" id="books">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>
            </tr>
            <tr th:each="book: ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>
            </tr>
        </table>
    </div>
</body>
</html>