<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book shelf create user</title>
    <meta charset="UTF-8">
    <style>
        #user_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .user_item, .create_item {
            margin-bottom: 10px;
        }

        #book_icon {
            width: 150px;
            height: auto;
        }
    </style>
</head>
<body>
<div id="user_form">
    <form method="post">
        <img id="book_icon" class="user_item" src="images/book_icon.png" alt="book">
        <br>
        <label for="username">Username: </label>
        <input id="username" class="user_item" type="text">
        <br>
        <label for="password">Password: </label>
        <input id="password" class="user_item" type="password">
        <br>
        <input class="create_item" type="submit" value="create">
    </form>
</div>
</body>
</html>