<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Book shelf login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div class="login-form">
        <div class="form-header">
            <img id="book_icon" class="login_item" src="img/book_icon.png" alt="book"/>
        </div>
        <div class="form-wrapper">
            <form method="post" class="form" th:action="@{/login/auth}" th:object="${loginForm}">
                <fieldset>
                    <label for="username">Username: </label>
                    <input id="username" class="login_item" type="text" th:field="*{username}">
                </fieldset>
                <fieldset>
                    <label for="password">Password: </label>
                    <input id="password" class="login_item" type="password" th:field="*{password}">
                </fieldset>
                <fieldset>
                    <input class="btn login_item" type="submit" value="login">
                    <input class="btn create_item" type="button" value="create" onclick="location.href='./create'">
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
